<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>
		{{!-- <div id="titlerow">
			<div id="titleleft">
				{{#resume.basics}}{{name}}{{/resume.basics}}
			</div>
			<div id="titlemid">
				{{#if picture}}
    			<img src="{{{picture}}}" alt="not found"/>
				{{/if}}
			</div>
			<div id="titleright">
				{{#resume.basics}}{{label}}{{/resume.basics}}
			</div>

		</div>
		<div>
			<hr/>
		</div> --}}
		{{#resume.basics}}{{name}}{{/resume.basics}}
		</title>

	<style>
	{{{css}}}
	</style>
	
	</head>
	<body>
		<div id="titlerow">
			<div id="titleleft">
				{{#resume.basics}}{{name}}{{/resume.basics}}
			</div>
			<div id="titlemid">
				<div id="titleimg">
					<img src="{{#resume.basics}}{{picture}}{{/resume.basics}}" alt="not found"/>
				</div>
			
    			{{!-- <img src="/sarolia.png" alt="not found"/> --}}
				
			</div>
			<div id="titleright">
				{{#resume.basics}}{{label}}{{/resume.basics}}
			</div>

		</div>
		{{!-- <div>
			<img src="{{#resume.basics}}{{picture}}{{/resume.basics}}" alt="not found"/>
				
		</div> --}}
		<div>
			<hr/>
		</div>
	
	<div id="resume">
		{{> basics }}
		{{> work }}
		{{> volunteer }}
		{{> education }}
		{{> awards }}
		{{> publications }}
		{{> skills }}
		{{> languages }}
		{{> interests }}
		{{> references }}
	</body>
</html>
